pandas
sqlalchemy
sqlite-utils
phidata
google-generativeai
groq
regex
streamlit
pyyaml
pypdf
langchain_experimental
qdrant_client
python-dotenv
matplotlib
seaborn
sentence-transformers
scikit-learn
joblib
xgboost==3.1.0
